-e git+https://github.com/uw-it-aca/mdot-rest.git@prerelease#egg=mdot_rest
-e git+https://github.com/uw-it-aca/mdot.git@prerelease#egg=mdot
-e git+https://github.com/uw-it-aca/mdot-developers@prerelease#egg=mdotdevs
