-e git+https://github.com/uw-it-aca/mdot-rest.git@prerelease#egg=mdot_rest
-e git+https://github.com/uw-it-aca/mdot.git@prerelease#egg=mdot
git+https://github.com/uw-it-aca/python3-saml-patch/#egg=python3-saml-patch
